<ion-header>
  <ion-toolbar>
    <ion-title>
      aneis
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="https://scontent.fpoa14-1.fna.fbcdn.net/v/t1.0-9/50272072_2274812092808560_697988196268507136_n.jpg?_nc_cat=107&_nc_ht=scontent.fpoa14-1.fna&oh=d6e495af8a350d63249bc53baa0161bf&oe=5D00BDF7"></ion-img>
      <ion-card-header>
        <ion-card-subtitle> inicio </ion-card-subtitle>
        <ion-card-title> bem vindo ao meu canal</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Agora que seu aplicativo foi criado, você vai querer começar a criar recursos e componentes. Confira alguns dos recursos abaixo para as próximas etapas.</p>
      </ion-card-content>
      <iframe width="400" height="400" src="https://www.youtube.com/embed/R9JgDFbfe78" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </ion-card>
    
</ion-content>
